
			

			body {
				font-family: arial; color: #2f4f4f;
				
				
}

			li {
				/*delete bullets from lists*/ 
				list-style: none;
}
			nav ul li {
				/*button navigation menu*/ 	
								
				font-weight: bold;
				list-style: none; 
				display: inline-block; /*alignement*/
				width: 200px;
     				height: 43px;
     				padding-top: 20px;
				text-align: center;
				color: white;
     				background: #2f4f4f;
				line-height:24px; /* center height */
				border-radius:50px;
				background:linear-gradient(#5f9ea0,#333750);/*gradient*/
				

     				
}

			nav ul li a {
				/*delete blue and red effet */ 
				text-decoration: none;
				color: white;
}

			.titre {
				/*creation of oval from right*/ 
				background:#725203; 
				border-radius: 50%;
				width: 300px;
				height: 200px;
				position: absolute;
				top:0px;
				left:700px;
				 
				
					 	
	}

			h1 {	
				/*title position "developpeuse logiciel" in oval*/
				text-align: center;
				color: white;	
				position: relative;
				margin-top: 80px;
					
}
			
			.info {
				/*personal information in rectangle at left with bordur 				effet;*/
				font-weight: bold;
				background: #5f9ea0; 
				width: 400px;			
				height: 80px; 
				border: 20px dotted white;
				position: relative;
				border-radius:50px;


}
			
			.competence {
				background:#5f9ea0;
				width: 280px;			
				height: 150px; 
				border-radius:50px;
				position: absolute;
				top:320px;
				left:30px;
				
				
				
				 
}

			.competence:hover {
				background-color : black;
}


			.experience {
				background:#5f9ea0;
				width: 700px;			
				height: 600px; 
				border-radius:50px;
				float:right;
				position: absolute;
				top:450px;
				left:300px;
				padding-right:20px;
				padding-left:50px;
  				box-shadow: 10px 10px 5px grey;
				 
}

			.diplome {
				background:#0F6D73;
				color: white;
				width: 200px;			
				height: 200px; 
				border-radius:50px;
				position: absolute;
				top:500px;
				left:30px;
				
				
				 
}

			.loisir {
				background:black;
				border-radius:50px;
				border: 20px dotted white;
				width: 200px;
				height:260px;
				position: absolute;
				top:720px;
				left:30px;
				
			
				
}

			h2 {
				/*dates in experience paragraph are center s*/
				text-align: center;
				color:white;
				
				
				
				
}
	
			h3 {
				/*size font of the date of experience part*/
				font-size:15px bold; 
				color:#B3D9EE;
			

}

			p {	/*all paragraph center*/

				text-align:center;
				

				
}


			.forme1 {
					
				background:#13556A;
				height:70px;
				width:70px;
				border-radius: 50%;
				position: absolute;
				top:1040px;
				left:10px;
				
					
				
}	

			.forme2 {
					background:black;
					height:70px;
					width:70px;
					border-radius: 50%;
					position: absolute;
					top: 1040px;
					left:90px;
					
				
}

			.forme3 {
					background:black;
					height:70px;
					width:70px;
					border-radius: 50%;
					position: absolute;
					top:1120px;
					left:10px;
					
				
}

			.forme4 {
					background:black;
					height:70px;
					width:70px;
					border-radius: 50%;
					position: absolute;
					top:1120px;
					left:90px;
				
}									

			.navigation {
					position: fixed;
					right: 70px;
					top: 10%;
					width:8em;
					margin-top: -2.5 em;
}									
	

			.grandeforme {
					position: absolute;
					left: 700px;
					top: 60px;
							
}

		
